body {
    background-color: #15202B;
}

.button.button-primary:hover {
    background-color: #1DA1F2;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0, 5px, 0, 0;
}

.container i {
    color: #1DA1F2;
}

.container h1 {
    color: #1DA1F2;
}

h1, h2 {
    text-align: center;
    color: #ffffff;
}

#contenido {
    margin-top: 40px;
}
.borrar-tweet,
.borrar-tweet:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.error {
    background-color: red;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}

.button.button-primary {
    background-color: #1DA1F2 !important;
}

.container h3 {
    color: #FFFFFF;
    text-align: center;
}

.container h6 {
    color: #FFFFFF;
    text-align: center;
}

.twitts li {
    color: #FFFFFF;
}

@media screen and (max-width: 480px){

    

    .container h3 {
        color: #1DA1F2;
        text-align: center;
    }

    hr {
        margin: 15px auto;
    }

    .six .mundo {
        display: flex;

    }
    .mundo i{
        margin-right: 10px;
    }
    .mundo h6 {
        justify-content: center;
        color: #1DA1F2;
    }

    .six img {
        margin: 0px;
    }

    .six textarea {
        background-color: #15202B;
        border: #15202B;
        color: #88999A;
    }

    .avatar{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 0, 5px, 0, 0;
    }

    .config i{
        margin: 5px 10px 20px 0;
    }
} 